body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.banner{
  background-image: url(../src/images/banner-blife.png);
  background-position: center;
	background-attachment: contain;
	background-size: cover;
  width: 100%;
  height: 600px;
}
span{
  font-size: 0.6em;
}
.card-detail-price{
  margin-right: 100px;
}
.card-price span{
  display: inline-block;
}